<div class="fullpage">
  <div class="content text-center">
    <h1 class="title_page">Les mixtures du guedin</h1>
    <ul class="content_page title_article list-unstyled">
      <% @articles.each do |article| %>
      <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
      <% end %>
    </ul>
    <%= link_to 'Ajouter', new_cocktail_path, class: 'link_page btn btn-primary' %>
  </div>
</div>