<div class="fullpage">
  <div class="content text-center">
    <h1 class="title_page"><%= @cocktail.name %></h1>
    <p class="content_page"><%= @cocktail.doses %></p>

    <%= link_to 'Dose-moi !', new_cocktail_dose_path(@cocktail), class: 'link_page btn btn-primary' %>
  </div>
</div>
