/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

 .fullpage {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center
}

.content {
  width: 500px;
  margin: 0 auto
}

.title_page {
  margin-bottom: 50px;
  font-size: 4em
}

.title_article {
  font-size: 2em
}

.content_page {
  margin-bottom: 50px
}

.link_page {
  font-size: 2em
}